@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Hello World</h1>
    <p>Greetings from Costa Rica, I hope you are enjoying the session.</p>
    <p>Best regards, </br>Fabian Solano</p>

    <p>It will be an honor to connect with you at <a href="https://www.linkedin.com/in/fabi%C3%A1n-solano-rodr%C3%ADguez/">LinkedIn</a>.</p>
</div>
